fastapi
uvicorn[standard]

pydantic
python-multipart
python-dotenv
email-validator

SQLAlchemy
PyMySQL
cryptography

passlib[bcrypt]

langchain-core
langchain-community
langchain-chroma
langchain-text-splitters
chromadb
dashscope

pypdf