fastapi
uvicorn[standard]

pydantic
python-multipart
python-dotenv
email-validator

SQLAlchemy
PyMySQL
cryptography

passlib==1.7.4
bcrypt==4.0.1

langchain-core
langchain-community
langchain-chroma
langchain-text-splitters
chromadb
dashscope

pypdf